<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container mx-auto md:flex md:justify-center mb-6 pt-8">
    <footer  th:fragment="footer" class="footer bg-white relative pt-1 border-b-2 border-blue-700">
        <div class="container mx-auto px-6">

            <div class="sm:flex sm:mt-8">
                <div class="mt-8 sm:mt-0 sm:w-full sm:px-8 flex flex-col md:flex-row justify-between">
                    <div class="flex flex-col">
                        <span class="font-bold text-gray-700 uppercase mb-2">Work with US</span>
                        <span class="my-2"><a href="/join" class="text-blue-700  text-md hover:text-blue-500">Join to our community</a></span>
                        <span class="my-2"><a href="#" class="text-blue-700  text-md hover:text-blue-500">What can we do for you</a></span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Resources for Register Users</span>
                        <span class="my-2"><a href="#" class="text-blue-700 text-md hover:text-blue-500">Documentation</a></span>
                        <span class="my-2"><a href="#" class="text-blue-700  text-md hover:text-blue-500">Access to the platform</a></span>
                    </div>
                    <div class="flex flex-col">
                        <span class="font-bold text-gray-700 uppercase mt-4 md:mt-0 mb-2">Contact</span>
                        <span class="my-2"><a href="contact" class="text-blue-700  text-md hover:text-blue-500">Postal Address</a></span>
                        <span class="my-2"><a href="#" class="text-blue-700  text-md hover:text-blue-500">Subscriptions</a></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mx-auto px-6">
            <div class="mt-16 border-t-2 border-gray-300 flex flex-col items-center">
                <div class="sm:w-2/3 text-center py-6">
                    <p class="text-sm text-blue-700 font-bold mb-2">
                        © 2022 by Vivaldi Spring LTD
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>